<div class="table__body-cell"><%= financial_tittle.number %></div>
<div class="table__body-cell"><%= financial_tittle.value %></div>
<div class="table__body-cell"><%= financial_tittle.expiration_date %></div>
<div class="table__body-cell"><%= financial_tittle.cnpj_assignor %></div>
<div class="table__body-cell"><%= financial_tittle.cnpj_payer %></div>
