<div id="<%= dom_id financial_tittle %>">
  <p>
    <strong>Number:</strong>
    <%= financial_tittle.number %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= financial_tittle.value %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= financial_tittle.expiration_date %>
  </p>

  <p>
    <strong>Cnpj assignor:</strong>
    <%= financial_tittle.cnpj_assignor %>
  </p>

  <p>
    <strong>Cnpj payer:</strong>
    <%= financial_tittle.cnpj_payer %>
  </p>

</div>
