<p style="color: green"><%= notice %></p>

<%= render @financial_tittle %>

<div>
  <%= link_to "Edit this financial tittle", edit_financial_tittle_path(@financial_tittle) %> |
  <%= link_to "Back to financial tittles", financial_tittles_path %>

  <%= button_to "Destroy this financial tittle", @financial_tittle, method: :delete %>
</div>
